---
import type { Headline as Props } from '~/types';
import { twMerge } from 'tailwind-merge';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
  classes = {},
  imageSrc = '',  // Optional image source
  linkedinUrl = '',  // Optional LinkedIn URL
} = Astro.props;

const {
  container: containerClass = 'max-w-3xl',
  title: titleClass = 'text-3xl md:text-4xl ',
  subtitle: subtitleClass = 'text-xl',
} = classes;
---

{
  (title || subtitle || tagline || imageSrc || linkedinUrl) && (
    <div class={twMerge('mb-8 md:mx-auto md:mb-12 text-center', containerClass)}>
      {tagline && (
        <p class="text-base text-secondary dark:text-blue-200 font-bold tracking-wide uppercase" set:html={tagline} />
      )}
      {title && (
        <h2
          class={twMerge('font-bold leading-tighter tracking-tighter font-heading text-heading text-3xl', titleClass)}
          set:html={title}
        />
      )}

      {subtitle && <p class={twMerge('mt-4 text-muted', subtitleClass)} set:html={subtitle} />}
      
      {/* Render the circular image and LinkedIn icon if provided */}
      {(imageSrc || linkedinUrl) && (
        <div class="flex justify-center items-center mt-8">
          {imageSrc && (
            <div class="relative w-24 h-24 md:w-32 md:h-32">
              <img src={imageSrc} alt="Profile" class="w-full h-full rounded-full object-cover" />
              {linkedinUrl && (
                <a href={linkedinUrl} target="_blank" class="absolute bottom-0 right-0 mb-2 mr-2 bg-primary text-white rounded-full p-2">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" class="w-6 h-6">
                    <path d="M20.452 20.452h-3.248v-5.298c0-1.265-.022-2.895-1.765-2.895-1.763 0-2.034 1.357-2.034 2.746v5.447h-3.248v-11h3.125v1.5h-.057c.437-.832 1.509-1.858 3.107-1.858 3.317 0 3.915 2.185 3.915 5.032v6.506zM3.548 3.516c-1.594 0-2.875 1.32-2.875 2.95s1.281 2.95 2.875 2.95c1.594 0 2.875-1.32 2.875-2.95s-1.281-2.95-2.875-2.95zM1.916 20.452h3.248v-11h-3.248v11z"/>
                  </svg>
                </a>
              )}
            </div>
          )}
        </div>
      )}
    </div>
  )
}
